*.class
.metadata
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
*.classpath
local.properties
.settings/
.loadpath
.recommenders

# Eclipse Core
.project

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
*.classpath
*.classpath
.classpath
*.classpath
